@import './partials/imports';

.globalModal{
    background-color: $color-white;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (min-width: $mobile-s){
        width: 90%;
        padding: 20px;

    }
    @media only screen and (min-width: $mobile-l){
        width: 90%;
        padding: 20px;
    }
    @media only screen and (min-width: $tablet){
        width: 400px;
        padding: 20px;
    }
    @media only screen and (min-width: $desktop){
        width: 400px;
        padding: 20px;
    }

    &__buttons{
        margin-top: 20px;
        display: flex;
        justify-content: end;
        column-gap: 10px;
    }

}
