@import './partials/imports';

.recordForm {
    display: flex;

    &__overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        flex-shrink: 1;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: transparent;
        display: none;

        &.active {
            display: initial;
        }
    }

    &__edit-form {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 11;
        background-color: var(--main-bg-color);
        transform: translateX(100%);
        transition: all 300ms ease-in-out;
        border-left: 1px solid var(--light-grey);


        @media only screen and (min-width: $mobile-s) {
            width: 100%;
        }

        @media only screen and (min-width: $mobile-l) {
            width: 400px;
        }

        @media only screen and (min-width: $tablet) {
            width: 400px;
        }

        @media only screen and (min-width: $desktop) {
            width: 480px;
        }

        &.active {
            transform: translateX(0);
        }
    }
}


.recordForm__edit-form__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    .recordForm__closeButton {
        align-self: start;
    }

    .recordForm__title {
        text-transform: capitalize;
        padding-left: 5%;
        font-size: 24px;
    }
  
    .recordForm__fields {
        width: 100%;
        justify-content: space-between;
        flex: 1;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 0px;
            background-color: transparent;
          }

        .recordForm__stack {
            width: 90%;
            margin-inline: auto;

            .recordForm__password {
                display: flex;

                .recordForm__password-field {
                    flex-grow: 1;
                }
            }

            .custom-field-select {
                visibility: hidden;

                &.show {
                    visibility: visible;
                }

                // somehow not taking effect
                .custom-field-select-actions {
                    display: flex;
                    justify-content: end;
                    column-gap: 10px;
                }

            }
        }

    }
}

.custom-field-select-item-text {
    text-transform: capitalize;
}