.register{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.register__wrapper{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.register__title{
    text-align: center;
    text-transform: capitalize;
    color: #61DAFB;
}

.register__title span{
    color: white;
}

.register__form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    margin-bottom: 10px;
}

.register__form + span{
    place-self: center;
    color: white;
    margin-bottom: 10px;
}

.register__form + span + a{
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
}
