@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* vairables */
:root {
  --max-width-home-page: 900px;
  --primary-color: #0069FF;
  --secondary-color: #081B4B;
  --main-btn-color: #97DFDC;
  --banner-hover-effect-color: #12B46D;
  --main-bg-color: #FFF;
  --light-grey: rgba(0, 0, 0, 0.12);
  --wide: 1400px;
  --desktop: 1280px;
  --tablet: 720px;
  --mobile: 320px;
}

/* global */
button {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

h1, h2, h3, h4, h5 {
  padding: 10px 0;
}

a {
  text-decoration: none;
}

/* a:visited{
  color: #61DAFB;
} */
/* class */
.button-general {
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 3px 5px;
  color: black;
  background-color: #61DAFB;
  transition: all 300ms ease-in-out;
}

.button-general:disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: grey;
  pointer-events: none;
}

.button-general:hover {
  background-color: white;
}

.button-secondary {
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 5px 7px;
  color: black;
  background-color: white;
  align-self: center;
  transition: all 300ms ease-in-out;
}

.button-secondary:hover {
  background-color: #61DAFB;
}

.input-general {
  margin-bottom: 10px;
  padding: 5px;
}

.label-general {
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
}

/* top layer */
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}/*# sourceMappingURL=App.css.map */