.globalModal {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 320px) {
  .globalModal {
    width: 90%;
    padding: 20px;
  }
}
@media only screen and (min-width: 480px) {
  .globalModal {
    width: 90%;
    padding: 20px;
  }
}
@media only screen and (min-width: 720px) {
  .globalModal {
    width: 400px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .globalModal {
    width: 400px;
    padding: 20px;
  }
}
.globalModal__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}/*# sourceMappingURL=globalModal.css.map */