.home {
  width: 100%;
  height: 100%;
  position: relative;
}

.home__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
}

.home__sidebar {
  height: 100%;
  width: 120px;
  padding: 15px 10px;
  position: sticky;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__sidebar-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__sidebar-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home__content {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.home__content .button-general a:visited {
  color: black;
}

.home__header {
  background-color: var(--main-bg-color);
  height: 85px;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  z-index: 6;
}

.home__search-form-control {
  display: flex;
  padding-left: 20px;
}

.home__search-form-control__input .MuiInputBase-input {
  background-color: #fff;
}

.home__search-form-control__submit {
  color: #fff;
  background-color: #61DAFB !important;
}

.search-results {
  margin-top: 100px;
}
.search-results .home__text {
  width: 100%;
  text-align: center;
}
.search-results .search-results__item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  padding: 0 20px;
}
.search-results .search-results__item:hover {
  background-color: var(--light-grey);
}
.search-results .search-results__item__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-results .search-results__item__delete {
  z-index: 5;
}/*# sourceMappingURL=home.css.map */