.landing {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.landing__wrapper {
  text-align: center;
  width: auto;
  max-width: 400px;
}

.landing__title {
  width: 100%;
  color: #61DAFB;
}

.landing__title span {
  color: white;
}

.landing__button__wrapper {
  display: flex;
  justify-content: space-between;
}

.landing__button__wrapper span:nth-child(2) {
  color: white;
}

.landing__button__wrapper .button-general {
  padding: 6px 14px;
}/*# sourceMappingURL=landing.css.map */