.nav {
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  display: flex;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid rgb(224, 224, 224);
}

.nav__wrapper h1 a:visited {
  color: #61DAFB;
}

.nav__wrapper {
  padding: 20px 0;
  place-self: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-home-page);
}

.nav__wrapper button:hover {
  background-color: #61DAFB !important;
}

.nav__main-title {
  color: var(--primary-color);
  font-size: 2rem;
}

.nav .nav__button {
  text-align: center;
  align-self: center;
  background-color: var(--main-bg-color);
}/*# sourceMappingURL=navbar.css.map */