.otp {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.otp__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.otp__title {
  text-align: center;
  text-transform: capitalize;
  color: #61DAFB;
}

.otp__title span {
  color: white;
}

.otp__form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.otp__form .otp__form--desc {
  color: white;
}

.otp__form .otp__form--desc span {
  color: #61DAFB;
}/*# sourceMappingURL=otp.css.map */