.profile {
  width: 100%;
  height: 100%;
  position: relative;
}

.profile__content {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  place-items: center;
}

.profile__title {
  color: white;
}

.profile-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 80%;
  max-width: 500px;
  padding: 20px 0;
}

.profile-form__item {
  display: flex;
  justify-content: space-between;
}

.profile-form__item input {
  flex-grow: 1.5;
}

.profile-form__item label {
  flex-grow: 1;
  flex-basis: 60px;
  text-transform: uppercase;
  color: white;
}

.profile-form button {
  flex: 0;
  align-self: flex-end;
  justify-self: flex-end;
}

.hint-text {
  padding: 10px 0;
  text-transform: capitalize;
  color: white;
}/*# sourceMappingURL=profile.css.map */