.recordForm {
  display: flex;
}
.recordForm__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
  display: none;
}
.recordForm__overlay.active {
  display: initial;
}
.recordForm__edit-form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 11;
  background-color: var(--main-bg-color);
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
  border-left: 1px solid var(--light-grey);
}
@media only screen and (min-width: 320px) {
  .recordForm__edit-form {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .recordForm__edit-form {
    width: 400px;
  }
}
@media only screen and (min-width: 720px) {
  .recordForm__edit-form {
    width: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .recordForm__edit-form {
    width: 480px;
  }
}
.recordForm__edit-form.active {
  transform: translateX(0);
}

.recordForm__edit-form__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.recordForm__edit-form__wrapper .recordForm__closeButton {
  align-self: start;
}
.recordForm__edit-form__wrapper .recordForm__title {
  text-transform: capitalize;
  padding-left: 5%;
  font-size: 24px;
}
.recordForm__edit-form__wrapper .recordForm__fields {
  width: 100%;
  justify-content: space-between;
  flex: 1;
  overflow: scroll;
}
.recordForm__edit-form__wrapper .recordForm__fields::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack {
  width: 90%;
  margin-inline: auto;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack .recordForm__password {
  display: flex;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack .recordForm__password .recordForm__password-field {
  flex-grow: 1;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack .custom-field-select {
  visibility: hidden;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack .custom-field-select.show {
  visibility: visible;
}
.recordForm__edit-form__wrapper .recordForm__fields .recordForm__stack .custom-field-select .custom-field-select-actions {
  display: flex;
  justify-content: end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.custom-field-select-item-text {
  text-transform: capitalize;
}/*# sourceMappingURL=recordForm.css.map */