.reset-password {
  width: 100%;
  height: 100%;
}

.reset-password h2 {
  color: white;
}

.reset-password__wrapper {
  width: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.reset-password form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0;
}

.reset-password form label {
  text-align: start;
}

.reset-password form button {
  margin: 10px 0;
}/*# sourceMappingURL=resetPassword.css.map */