.sign-in {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
}

.sign-in__wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.text-admin {
  text-align: end;
  text-transform: capitalize;
  color: #61DAFB;
}

.sign-in__title {
  text-align: center;
  text-transform: capitalize;
  color: #61DAFB;
  padding-bottom: 20px;
}

.sign-in__title span {
  color: white;
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.sign-in__form button:hover {
  background-color: white;
}

.sign-in__form + span {
  place-self: center;
  color: white;
  margin-bottom: 10px;
}

.sign-in__form + span + a {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
}/*# sourceMappingURL=signIn.css.map */