// Breakpoints
$wide: 1400px;
$desktop: 1280px;
$tablet: 720px;
$mobile-l: 480px;
$mobile-s: 320px;

$color-white: #fff;

$max-width-home-page: 900px;
$primary-color: #0069FF;
$secondary-color: #081B4B;
$main-btn-color: #97DFDC;
$banner-hover-effect-color: #12B46D;
$main-bg-color: #FFF;
$light-grey: rgba(0, 0, 0, 0.12);